$color-main-background: #f6f7f8;
$color-secondary-background: #ffffff;
$color-main-background-dark: #181a1f;
$color-secondary-background-dark: #131314;

$color-btn-background-primary: #0f62fe;
$color-btn-background-primary-hover: #0b43aa;
$color-btn-background-primary-focus: #093485;
$color-btn-background-primary-dark: #5B94FE;

$color-button-background: #ffffff;
$color-button-background-hover: #f0f5ff;
$color-button-border: #abbde0;
$color-button-background-dark: #131314;
$color-button-background-dark-hover: #181b29;
$color-button-border-dark: #252733;

$color-btn-secondary-dark-focus: #3760ad;

$color-error: #ab0000;

$color-highlight: #0f62fe;

$color-error-background: #fae1e5;

$color-active-background: #ebecf0;
$color-active-background-dark: #252733;
$color-keyword: #ebecf0;

$color-label: #70737a;

$color-date-input-border: #b0b3b8;
$color-date-input-border-hover: #1061fb;
$color-date-divider: #d7d7d7;
$color-date-text: #4d4d4d;
$color-date-day-text: #414752;

$color-font: #131314;
$color-font-secondary: #ffffff;
$color-font-dark: #ebecf0;

$color-scrollbar: #989898;

$color-popup-border: #d5d7db;
$color-popup-border-dark: #414752;
