.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-main-background;

  &.dark {
    background: $color-main-background-dark;
  }

  .not-found {
    text-align: center;
    width: 40%;

    &__link {
      display: inline-block;
      transition: all .3s ease-in-out;

      &:hover {
        text-decoration: none;
      }
    }
  }
}