$color-main-background: #f6f7f8;

$color-button-background: #ffffff;
$color-button-background-hover: #f0f5ff;
$color-button-border: #abbde0;

$color-highlight: #0f62fe;

$color-error-background: #fae1e5;

$color-active-background: #ebecf0;

$color-font: #131314;

$color-scrollbar: #989898;

$color-popup-border: #d5d7db;