.btn-primary {
  border: none;
  background: $color-btn-background-primary;
  border-radius: 8px;
  padding: 12px 16px;
  color: $color-font-secondary;

  &:hover {
    background: $color-btn-background-primary-hover;
  }

  &:active,
  &:focus {
    background-color: $color-btn-background-primary-focus;
  }
}

.btn-secondary {
  border: 2px solid $color-button-border;
  background: $color-button-background;
  border-radius: 8px;
  padding: 10px 16px;

  &:hover {
    background: $color-button-background-hover;
  }

  &:active,
  &:focus {
    background-color: $color-button-border;
  }
}
