.react-datepicker {
  padding: 12px 8px;
  border: 1px solid $color-popup-border;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 20px;
  box-shadow: 0 4px 16px -2px rgba($color: #000000, $alpha: 0.16);

  &-wrapper {
    width: 100%;
  }

  &__close-icon {
    &::after {
      background-color: $color-label;
    }
  }

  &__header {
    background-color: $color-secondary-background;
    border-bottom: 1px solid $color-date-divider;
    padding: 0;
  }

  &__current-month {
    padding: 8px 2px;
  }

  &__navigation {
    top: 12px;
    padding: 8px;
    border-radius: 4px;

    &:hover {
      background: $color-button-background-hover;
    }

    &--previous {
      left: 12px;
    }

    &--next {
      right: 12px;
    }

    &-icon {
      display: block;
      width: 16px;
      height: 16px;

      &::before {
        display: none;
      }

      &--previous {
        background: url('../../images/date-prev.svg');
      }
  
      &--next {
        background: url('../../images/date-next.svg');
      }
    }
  }

  &__day-names {
    margin: 0;
  }

  &__day-name,
  &__day,
  &__time-name {
    width: 36px;
    height: 36px;
    margin: 2px;
    border-radius: 4px;
    line-height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__current-month,
  &__day-name {
    color: $color-date-text;
  }

  &__day {
    font-weight: 400;

      &--outside-month {
        opacity: 0.7;
      }

    &:not(.react-datepicker__day--disabled) {
      color: $color-date-day-text;
    }

    &--keyboard-selected,
    &--selected {
      border: 2px solid $color-button-border;
      background: $color-button-background;
    }

    &:hover {
      background: $color-button-background-hover;
    }

    &--disabled:hover {
      background: $color-secondary-background;
    }
  }
}

.dark {
  .react-datepicker {
    background: $color-main-background-dark;

    &__header {
      background: $color-main-background-dark;
    }

    &__navigation {
      &:hover {
        background: $color-button-background-dark-hover;
      }

      &-icon {
        filter: invert(1);
      }
    }

    &__current-month,
    &__day-name {
      color: $color-font-secondary;
    }

    &__day {
      &:not(.react-datepicker__day--disabled) {
        color: $color-font-secondary;
      }

      &--keyboard-selected,
      &--selected {
        color: $color-font-dark;
        border: 2px solid $color-btn-secondary-dark-focus;
        background: $color-button-background-dark;
      }

      &:hover {
        background: $color-button-background-dark-hover;
      }
    
      &:active,
      &:focus {
        background-color: $color-btn-secondary-dark-focus;
      }

      &--disabled {
        opacity: 0.5;
      }
    }
  }
}