.feeds-pagination {
  display: flex;
  gap: 12px;
  padding: 7px 0px 8px 0px;
  border-top: 1px solid $color-popup-border;

  &.dark {
    border-top: 1px solid $color-popup-border-dark;
  }

  @include media-tablet {
    flex-wrap: wrap;
  }

  &__details {
    display: flex;
    gap: 12px;
  }

  &__divider {
    width: 1px;
    height: 40px;
    background: $color-popup-border;

    &.dark {
      background: $color-popup-border-dark;
    }
  }

  &__info {
    white-space: nowrap;
    padding: 12px 8px;

    .info__bold {
      font-weight: 600;
    }
  }

  &__page-size {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__text {
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  select {
    height: 100%;
  }

  &__pages {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include media-tablet {
      justify-content: flex-start;
    }

    .pagination {
      &__item {
        padding: 12px;

        &.btn-secondary {
          padding: 10px 12px;
        }
      }

      &__btn {
        &-icon {
          display: block;
          width: 24px;
          height: 24px;

          &.first {
            background: url('../../images/first.svg');

            &.dark {
              background: url('../../images/first-dark.svg');
            }
          }

          &.previous {
            background: url('../../images/chevron-left.svg');

            &.dark {
              background: url('../../images/chevron-left-dark.svg');
            }
          }

          &.next {
            background: url('../../images/chevron-right.svg');

            &.dark {
              background: url('../../images/chevron-right-dark.svg');
            }
          }

          &.last {
            background: url('../../images/last.svg');

            &.dark {
              background: url('../../images/last-dark.svg');
            }
          }
        }
      }
    }
  }
}
