.score {
  &-red {
    background: red;
  }
  
  &-orange {
    background: orange;
  }
  
  &-yellow {
    background: yellow;
  }
  
  &-yellowgreen {
    background: yellowgreen;
  }
  
  &-green {
    background: green;
  }
  
  &-blue {
    background: lightseagreen;
  }
}